/01. SERVER/aerolineas_condor_server/target/
/02. CLICON/viajecito_con/nbproject/private/
/02. CLICON/viajecito_con/build/
/02. CLIESC/viajecito_esc/nbproject/private/
/02. CLIESC/viajecito_esc/build/
/02. CLIESC/viajecito_esc/dist/
/01. SERVER/aerolineas_condor_server/nbproject/
